@model MyViewModel
@{
    ViewData["Title"] = "TourView - Reservations for Your Location";
}

<h2>Reservations for @ViewData["location"]</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>User</th>
            <th>Date</th>
            <th>No. of Guests</th>
            <th>Set as Seen</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var reservation in Model.reservationsIEn)
    {
            int locId = reservation.LocationId;
            <tr>

            <td>@Model.users.First(u => u.Id == reservation.UserId)</td>
            <td>@reservation.ReservationDate</td>
            <td>@reservation.NumberOfGuests</td>
                @if (reservation.seen == true)
                {
                    <td>Already set</td>
                }
                else
                {
                    <td><a asp-controller="Reservation" asp-action="SetSeen" asp-route-Id="@reservation.Id">Set</a></td>
                }
                
        </tr>
    }
    </tbody>

</table>