@model TourView.Models.Location

@{
    ViewData["Title"] = "TourView - Add your Location";
}

<form method="post" action="/Location/Create">
    <br />
    <div class="card ">
        <div class="card-header text-center" style="font-family: 'Trocchi', serif; font-size:30px">
            Add your location
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                @Html.Label("Name","Give your location a name")
                @Html.TextBox("Name", null, new { @class = "form-control " })
                @Html.ValidationMessageFor(m => m.Name, null, new {@class = "text-danger" })
                <br />
                <br />
                @Html.Label("Description", "Describe your location")
                @Html.TextArea("Description", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Description, null, new {@class = "text-danger" })
                <br />
                <br />
                @Html.Label("Address", "Address")
                @Html.TextArea("Address", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Address, null, new {@class = "text-danger" })
                <br />
                <br />
                @Html.Label("PhoneNumber", "Phone number")
                @Html.TextArea("PhoneNumber", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.PhoneNumber, null, new {@class = "text-danger" })
                <br />
                <br />
                @Html.Label("Schedule", "Schedule")
                @Html.TextArea("Schedule", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Schedule, null, new {@class = "text-danger" })
                <br />
                @Html.Label("Menu", "Menu")
                @Html.TextArea("Menu", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Menu, null, new {@class = "text-danger" })
                <br />
                <br />
                @Html.Label("PhotoUrl", "Photo")
                @Html.TextArea("PhotoUrl", null, new { @class = "form-control" })
                <br />
                <br />

                    <button class="btn btn-outline-danger" style=" border-radius: 25px;" type="submit">Add</button>
               
            </blockquote>
        </div>
    </div>

</form>
