@model Location

<h2>@Model.Name</h2>

<div>
    <h4>Address:</h4>
    <p>@Model.Address</p>
</div>
<div>
    <h4>Phone Number:</h4>
    <p>@Model.PhoneNumber</p>
</div>
<div>
    <h4>Schedule:</h4>
    <p>@Model.Schedule</p>
</div>
<div>
    <h4>Menu:</h4>
    <p>@Model.Menu</p>
</div>

<a asp-controller="Review" asp-action="Index" asp-route-locationId="@Model.Id">View Reviews</a>
<a asp-controller="Reservation" asp-action="Index" asp-route-locationId="@Model.Id">Make a Reservation</a>
//de test