@model IEnumerable<Location>
@{
    ViewData["Title"] = "TourView - All locations";
    IEnumerable<Review> reviews = ViewBag.reviews;
}

@if (ViewBag.Msg != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Msg
    </div>
}

<h2>Locations</h2>
<form asp-action="Index" method="get">
    <div class="form-group">
        <label for="name">Search by name:</label>
        <input type="text" name="name" value="@ViewData["CurrentName"]" />
    </div>
    <br />
    <div class="form-group">
        <label for="description">Search by description:</label>
        <input type="text" name="description" value="@ViewData["CurrentDescription"]" />
    </div>
    <br />
    <div class="form-group">
        <label for="address">Search by address:</label>
        <input type="text" name="address" value="@ViewData["CurrentAddress"]" />
    </div>
    <br />
    <div>
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

<a asp-action="Index">Back to full list</a>
<hr />




<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var location in Model)
        {
            IEnumerable<Review> locReviews = reviews.Where(r => r.LocationId == location.Id);
            double ratingAvg = 0.0;
            int ratingCount = 0;
            foreach (var review in locReviews)
            {
                ratingAvg = ratingAvg + review.Rating;
                ratingCount += 1;
            }
            ratingAvg = ratingAvg / ratingCount;
            ratingAvg = Math.Round(ratingAvg, 2);

            <tr>
                <td width="20%">
                    <a href="@Url.Action("Details", "Location", new { id = location.Id })">@location.Name</a>
                </td>
                <td width="60%">@location.Description</td>
                @if (ratingCount != 0)
                {
                    <td width="20%">@ratingAvg</td>
                }
                else
                {
                    <td width="20%">No Ratings</td>
                }

            </tr>
        }
    </tbody>

</table>