@model Review
@{
    string implicitUserId = "8e445865-a24d-4543-a6c6-9443d048cdb0";
}

<h2>Add Review</h2>


<form method="post">
    <div>
        <label asp-for="UserId" value="@implicitUserId">USER IMPLICIT VALUE @implicitUserId</label>
    </div>
    <input asp-for="UserId" type="hidden"/>
    <div>
        <label asp-for="LocationId" value="@ViewBag.locationId">Location Id = @ViewBag.locationId</label>
    </div>
   
    <div>
        <label asp-for="Comment">Comment</label>
        <input asp-for="Comment" />
    </div>
    <div>
        <label asp-for="Rating">Rating</label>
        <input asp-for="Rating" type="number" min="1" max="5" />
    </div>
    <input asp-for="LocationId" type="hidden" />
    <button type="submit">Submit</button>
    <a asp-controller="Review" asp-action="Index" asp-route-locationId="@ViewBag.locationId">Back to all reviews of {Location ID = @ViewBag.locationId}</a>
</form>
